.logoContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.logo {
  width: 15%;
  cursor: pointer;
}

.ul {
  display: flex;
  justify-content: space-around;
}

.links {
  text-decoration: none;
  font-size: 1.3em;
  color: black;
}

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
}

.dropdownBtn {
  background-color: white;
  border: none;
  font-family: "Edu SA Beginner", cursive, Helvetica Neue, sans-serif;
  font-size: 1.3em;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #c53348;
  border-radius: 15px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  background-color: #972839;
}

.dropdown:hover .dropdownContent {
  display: block;
}
