.logoContainer {
  display: flex;
  justify-content: center;
}

.logo {
  width: 15%;
  cursor: pointer;
}

.subMenuBtn {
  border-color: transparent;
  background-color: antiquewhite;
}

.ul {
  display: flex;
  justify-content: space-around;
}

.li {
  list-style-type: none;
}

.subMenu {
  list-style: none;
}

.links {
  text-decoration: none;
  color: black;
}
