.logoContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.logo {
  width: 15%;
  cursor: pointer;
}

.ul {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.links {
  text-decoration: none;
  font-size: 1.3em;
  color: black;
}

.links:hover {
  text-decoration: underline #c53348;
}
