.mainWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 25vh;
  margin: 100px 0px 100px 0px;
}

.mainContainer {
  position: relative;
  width: 50vw;
  border-radius: 10px;
  box-shadow: 1px 1px 20px #bebebe, -1px -1px 20px #bebebe;
  padding: 0px 30px 0px 30px;
}

.imageContainer {
  position: absolute;
  margin: 10px 0 0px 10px;
  width: 270px;
  border-radius: 25px;
  top: -60px;
}
.imageStyle {
  border-radius: 25px;
}
.topContainerInfo {
  display: flex;
  justify-content: flex-start;
}
.infoStyle {
  margin-top: 20px;
  margin-left: 320px;
}

.h1 {
  text-decoration: underline;
  font-size: 1.5em;
  font-weight: 900;
}

.date {
  font-size: 1.2em;
  font-weight: 600;
}

.textStyle {
  line-height: 1.5rem;
  font-size: 1.2em;
  letter-spacing: 1px;
  margin: 80px 15px;
  height: 200px;
  overflow-y: scroll;
}

.h4 {
  font-size: 1.3em;
  font-weight: 500;
}
