.footerContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 5px;
  height: 30px;
  background-color: #c53348;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
