@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Edu SA Beginner", cursive, Helvetica Neue, sans-serif;
  background-color: rgba(252, 242, 244, 0.6);
}
