.title {
  height: 20vh;
  display: flex;
  justify-content: left;
  padding-left: 170px;
  padding-top: 150px;
  font-size: 1.5em;
  font-weight: 600;
}

.presentation {
  text-align: justify;
  font-size: 1.3em;
  padding: 0 8em 0 8em;
  margin-top: 60px;
}

.fraise1 {
  position: absolute;
  left: -50px;
  bottom: 60px;
  transform: rotate(45deg);
}
