.title {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: 600;
}

.presentation {
  text-align: justify;
  font-size: 1.3em;
  padding: 0 8em 0 8em;
  margin-top: 50px;
}

.fraise1 {
  position: absolute;
  left: -50px;
  transform: rotate(45deg);
}

.fraise2 {
  width: 6vw;
  position: absolute;
  right: 50px;
  transform: rotate(-15deg);
}
