.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.contactBox {
  width: 50vw;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-align: center;
  background-color: rgba(197, 51, 72, 0.8);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 20px;
}

.right {
  padding: 25px 40px;
}

.title {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

.title:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #972839;
}

.field {
  width: 25vw;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-bottom: 20px;
  transition: 0.3s;
}
.field::placeholder {
  color: black;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn {
  width: 50%;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: #972839;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  color: black;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #c53348;
}

.field:focus {
  border: 2px solid #c53348;
  background-color: #fff;
}

@media screen and (max-width: 880px) {
  .contact-box {
    grid-template-columns: 1fr;
  }
  .left {
    height: 200px;
  }
}
